@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Chivo+Mono:wght@400;700&family=Josefin+Sans:wght@400;700&family=Tinos:wght@400;700&family=Ubuntu:wght@400;500;700&display=swap');
.goals-input {
    width: 50px;
}

.login-form{
    border: 2px solid rgba(248, 89, 89, 0.5);
    border-radius: 15px;
    margin-top: 30px;
    padding: 5px;
    background-color: rgba(250, 214, 214, 0.7);
    box-shadow: 0 0 15px #b25252;
    display: flex;
    align-items: start;
    flex-direction: column;
}

.login-container {
    border-radius: 15px;
    margin: 5px;
    padding: 50px;
    background-color: rgba(250, 233, 233, 0.5);
    border: 1px solid rgba(203, 55, 55, 0.4);
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Chivo Mono', monospace;
    color: rgb(91, 1, 1);
    font-size: 2.2em;
    text-align: left;
    margin: 15px 0 5px 15px;

}

button {
    margin-top: 20px;
    font-size: 1.6em;
    font-weight: 300;
    padding: 5px;
    cursor: pointer;
}

#sign-in-button {
    margin-top: 30px;
    font-family: 'Chivo Mono', monospace;
    border: none;
    background-color: #e18f8f;
    cursor: auto;
}

#sign-in-button:hover:enabled {
    background-color: #790000;
    transition: all 500ms;
    color: white;
    cursor: pointer;
}

