@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Chivo+Mono:wght@400;700&family=Josefin+Sans:wght@400;700&family=Tinos:wght@400;700&family=Ubuntu:wght@400;500;700&display=swap');

.login-form{
    border: 2px solid rgba(248, 89, 89, 0.5);
    border-radius: 15px;
    margin-top: 30px;
    padding: 5px;
    background-color: rgba(250, 214, 214, 0.7);
    box-shadow: 0 0 15px #b25252;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.login-type{
    font-family: 'Chivo Mono', monospace;
    color: rgb(168, 4, 4);

}
.login-container {
    border-radius: 15px;
    margin: 5px;
    padding: 50px;
    background-color: rgba(250, 233, 233, 0.5);
    border: 1px solid rgba(203, 55, 55, 0.4);
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Chivo Mono', monospace;
    color: rgb(121, 5, 5);
    font-size: 2.2em;
    text-align: center;
    margin: 15px 0 5px 15px;
}
h2 {
    font-family: 'Chivo Mono', monospace;
    color: rgb(169, 5, 5);
    font-size: 2em;
    text-align: center;
    margin: 10px;
    padding: 5px;
    border-right: 3px solid rgba(196, 3, 3, 0.84);
}

button {
    margin-top: 20px;
    font-size: 1.6em;
    font-weight: 300;
    padding: 5px;
    cursor: pointer;
}

.sign-button {
    margin-top: 30px;
    font-family: 'Chivo Mono', monospace;
    border: none;
    background-color: #e18f8f;
    cursor: auto;
}

.sign-button:hover:enabled {
    background-color: #790000;
    transition: all 500ms;
    color: white;
    cursor: pointer;
}
.live-stats {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-top: 2%;
    animation: color-change 2s linear infinite;
    width: 70%;
    text-align: center;
    background-color: rgba(239, 201, 201, 0.65);
    box-shadow: 0 0 4px 4px #a62727;
}
@keyframes color-change {
    0%,100%{
        box-shadow: 0 0 4px 4px #7e1414;
    }

    25%{
        box-shadow: 0 0 4px 4px #cc6565;
    }

    50%{
        box-shadow: 0 0 4px 4px #dc8d8d;
    }

    75%{
        box-shadow: 0 0 4px 4px #a62727;
    }
}
