@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Chivo+Mono:wght@400;700&family=Dosis:wght@400;700&family=Josefin+Sans:wght@400;700&family=Tinos:wght@400;700&family=Ubuntu:wght@400;500;700&display=swap');

.my-details-table {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    margin-left: 30px;
    text-align: center;
}

.auction-table-user{
    width: 100%;
    margin: 0;
    font-size: 1em;
}

table {
    background-color: rgb(253, 227, 227);
    margin-top: 40px;
    min-width: 90%;
    border-collapse: collapse;
    font-family: Dosis, sans-serif;
    font-size: 1.2em;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 0 50px rgba(236, 134, 134, 0.5);
}

tr, td {
    padding: 10px;
}

.border-header {
    font-family: Chivo Mono, sans-serif;
    padding: 20px;
    border-right: 2px outset rgba(239, 204, 204, 0.1);
}

.border-header-sort:hover {
    background-color: rgba(252, 66, 66, 0.96);
    text-decoration: underline;
    cursor: pointer;
}

th {
    background-color: rgb(238, 108, 108);
    font-size: 1.1em;
}

tr:nth-child(even){
    background-color: rgb(255, 219, 219);
}

tr:hover {
    background-color: rgb(243, 151, 151);
}

#table-row-header:hover{
    color: black;
}

